.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa-angle-up:before {
    content: "\f106";
}

.fa-angle-down:before {
    content: "\f107";
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

b,
strong {
    font-weight: 700;
}

img {
    border: 0;
}

button,
input,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button,
input[type=submit] {
    cursor: pointer;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}

@media print {

    *,
    :after,
    :before {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    a[href^="javascript:"]:after {
        content: "";
    }

    img,
    tr {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

img {
    vertical-align: middle;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

table {
    background-color: transparent;
}

th {
    text-align: left;
}

input[type=file] {
    display: block;
}

input[type=file]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.form-group {
    margin-bottom: 15px;
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn {
    width: 100%;
}

input:focus,
textarea:focus {
    border: 0px;
    border-bottom: 1px solid var(--color-grey-4);
}

.form-control:focus {
    border-color: var(--color-grey-4);
    border: 0px;
    border-bottom: 1px solid var(--color-grey-4);
}

.btn:active:focus,
.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover {
    background-color: var(--color-brand-dark);
    color: #000;
    border: 1px solid var(--color-brand);

}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background-color: var(--color-brand);
}

.address-add.btn {
    background-color: var(--color-brand);
    border-radius: 5px;
    padding: 10px;
    color: #000;
    border-color: #000;
    width: auto;
    padding: 7px 30px;
    margin: 10px;
}

.address-add.btn:hover,
.address-add.btn:focus,
.address-add.btn:active {
    color: var(--color-grey-2);
    background-color: var(--color-brand-dark);
}


.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}


.input-group-addon,
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-dismissible {
    padding-right: 35px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

a:focus,
a:hover {
    color: gray;
}

.sepetmain {
    width: 100%;
    margin: auto;
    background-color: #f8f7f5;
}

.sepettitle {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    margin: auto;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px 0 10px 0;
    color: #9C8D7D;
}

.SEPETSAG {
    color: black;
    width: calc(25% - 10px);
    margin: 5px;
    float: left;
    border-radius: 6px;
    background-color: white;
}

.sepetozetrow {
    position: relative;
    width: 100%;
    text-align: left;
    padding: 15px 24px 24px 24px
}

.SEPETSOL {
    padding: 40px 50px;
    background-color: white;
    color: black;
    width: calc(75% - 10px);
    margin: 5px;
    float: left;
    border-radius: 5px;
}

a,
a:focus,
a:hover,
a:active {
    outline: 0;
    text-decoration: none;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #cecece;
}

::-webkit-scrollbar-thumb {
    background-color: #cecece;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

::selection {
    color: #fff;
    background: #e45000;
}

.shopping-total {
    width: 100%;
    padding: 9px 24px;
    border-top: 1px solid #ddd;
}

.shopping-total ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.shopping-total li {
    border-bottom: solid 1px #ecebeb;
    width: 100%;
    overflow: hidden;
    padding: 9px 0;
}

.shopping-total li:last-child {
    border: none;
}

.shopping-total em {
    font: 18px 'Kumbh Sans', 'PT Sans Narrow', sans-serif;
    float: left;
    position: relative;
    top: 2px;
}

.shopping-total strong {
    color: #000;
    font: 18px "'Kumbh Sans'", sans-serif;
    font-weight: normal;
    float: right;
}

.shopping-total strong span {
    font-size: 17px;
}

.shopping-total-price {
    font-weight: bold;
}

.shopping-total-price strong {
    font-weight: bold;
}

*:focus {
    outline: none;
}

.product-quantity,
.product-quantity .input-group {
    width: 70px;
    float: left;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

table .product-quantity,
table .product-quantity .input-group {
    margin-right: 0;
}

.product-quantity .input-group-btn {
    position: static;
}

.product-quantity .btn {
    text-align: center;
    height: 18px !important;
    width: 18px;
    padding: 0 2px 0 1px !important;
    text-align: center;
    background: #edeff1;
    border-radius: 0 !important;
    font-size: 18px !important;
    line-height: 1 !important;
    color: #616b76;
    margin: 0 !important;
    position: absolute;
    right: 0;
}

.product-quantity .quantity-up {
    top: 0;
}

.product-quantity .quantity-down {
    bottom: 0;
}

.product-quantity .btn i {
    position: relative;
    top: -2px;
    left: 1px;
}

@media (max-width: 992px) {
    .product-quantity {
        margin-bottom: 10px;
    }
}

@media (max-width: 1024px) {

    input[type="tel"],
    input[type="text"],
    textarea {
        font-size: inherit;
    }

    .SEPETSAG {
        background-color: #FFF;
        color: black;
        margin: 0;
        padding: 10px;
        width: calc(100% - 20px);
        margin: 10px;
    }

    .SEPETSOL {
        margin: 0;
        color: black;
        width: 100%;
        margin-TOP: 5px;
    }
}

::selection {
    color: #fff;
    background: #e45000;
}

.shopping-total strong {
    color: #000;
}

.sepetitem {
    height: auto;
    overflow: overlay;
    padding: 10px;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 5px 5px 0 0;
}

a {
    color: #000;
}

a {
    color: black;
}

.container {
    width: 100%;
    padding: 0;
    margin: auto;
}

.popup-close {
    display: inline-block;
    position: absolute;
    top: 11px;
    right: 11px;
    background-size: cover;
    width: 12px;
    height: 12px;
    background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2227%22%20height%3D%2227%22%20viewBox%3D%220%200%2027%2027%22%3E%3Cpath%20d%3D%22M0%2025.7L25.7%200l1.3%201.3%20-25.7%2025.7L0%2025.7z%22%2F%3E%3Cpath%20d%3D%22M25.7%2027L0%201.3%201.3%200l25.7%2025.7L25.7%2027z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    cursor: pointer;
}

.product-quantity {
    display: none;
}

img {
    max-width: 100%;
}

.form-group {
    margin-bottom: 0;
}

.green.btn {
    background-color: var(--color-brand);
    border-radius: 5px;
    padding: 10px;
    color: #000;
    width: 100%;
    margin-top: 20px;
    padding: 20px 0 20px 0;
}

.green.btn:hover,
.green.btn:focus,
.green.btn:active {
    color: var(--color-grey-2);
    background-color: var(--color-brand-dark);
}

.border-red-form {
    border: 1px solid var(--color-danger);
    padding: 5px;
    border-radius: 6px;
}

.popup-form-details {
    padding: 10px;
}

.modal-footer>* {
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.modal-footer {
    padding: 0rem;
    border: 0px;
    padding-bottom: 10px;
    margin: 0 10px 20px 10px;
}

.popup-location-address{
    background-color: #edf1f2;
    color: gray;
    padding: 10px;
}

.form-control {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e1dcd8;
    padding: 20px 10px;
    margin-bottom: 5px;
    border-radius: 0px;


}

.sepetopdiv {
    width: 50%;
    float: left;
}

@media (max-width: 1024px) {
    .sepetopdiv {
        width: 100%;
        float: left;
    }
}

.sepeteklebtn {
    background-color: #1d3435;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    margin-top: 24px;
}

.sepeteklebtn:hover {
    background-color: #e7cdb2;
}

.sepetmain .container {
    max-width: 1150px;
    width: 100%;
    margin: auto;
}

.sepetozetsecond {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: 12px;
}

.sepetozetsecond2 {
    text-align: right;
    vertical-align: top;
    width: 70px;
    padding-bottom: 8px;
    font-size: 12px;
}

a:focus,
a:hover {
    color: black;
}

.adreseklebtn {
    text-align: center;
    padding: 10px;
    color: #1D413F;
    font-weight: bold;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.adreseklebtn>span {
    background-color: #e7cdb2;
    text-align: center;
    padding: 7px 30px;
    color: #1D413F;
    font-weight: bold;
    width: auto;
    border: 0.5px solid #1d3435;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 1px;
    margin: 10px;
    display: inline-block;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center left 10px;
    padding-left: 40px;
}

.adreseklebtn2 {
    padding: 14px;
    color: #1D413F;
    width: 100%;
    cursor: pointer;
    text-align: left;
    position: relative;
    font-size: 12px;
    font-weight: normal;
}



#MainContent_sepet_sepet1_kuponButton1 {
    width: 100%;
    background-color: #e7cdb2;
    font-size: 15px;
}

.SEPETSOL {
    padding: 0px 50px 15px 50px;
    background-color: white;
    color: black;
    width: calc(75% - 10px);
    margin: 5px;
    float: left;
    border-radius: 5px;
}

.sepeturuntitle {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 25px 0 15px 0;
}

.sepetfiyat {
    float: right;
    padding-top: 30px;
    padding-right: 40px;
    font-weight: bold;
}

::placeholder {
    color: black;
    opacity: .4;
}

.sepetedit {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 14px;
    width: 16px;
    height: 19px;

    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}



.adreZZ {
    border: 1px solid #FFFFFF;
    padding: 5px;
    border-radius: 6px;
}

.adresgereklidiv {
    border: 1px solid #FF5858;
    padding: 5px;
    border-radius: 6px;
}

#popmahal {
    font-size: 14px;
    background-color: #edf1f2;
    padding: 10px;
    margin-bottom: 7px;
}

#adresformdiv {
    max-width: 450px;
    margin: auto;
}

.sepettitleicon {
    text-align: center;
    margin-top: 30px;
    font-size: 0;
}

.sepettitleicon div {
    display: inline-block;
    width: 20%;
    max-width: 212px;
    cursor: pointer;
}

.sepettitleicon div img {
    width: 100%;
}

.sepettitleicon div:first-child {
    text-align: right;
}

.sepettitleicon div:last-child {
    text-align: left;
}

.sepettitleicon div:first-child img,
.sepettitleicon div:last-child img {
    width: 56%;
}

.sepettitleicon div span {
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}

.sepeteklebtn {
    background-color: #1d3435;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    margin-top: 9px;
}

textarea {
    width: 95%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: Courier New, Courier, monospace;
}

.kartbilgi2 {
    font-family: 'Kumbh Sans', sans-serif;
    margin-bottom: 20px;
}

.kartbilgi2 input[type=text],
input[type=tel],
textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e1dcd8;
    padding: 20px 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}


.delivery-address {
    border: 0px;
}
.address-medyanossa {
    font-size: 12px;
     line-height: 13px;
}
.header-style-1.header-height-2 { 
    display: none;
}
footer.main {
    display: none;
}
body {
    background-color: #f8f7f5;
}

.d-inline-block {
    font-size: 18px;
    font-weight: bold;
}

.product-image-delivery {
    margin-right:15px;
    max-width:90%;
    width: 100%;
    border-radius: 5px;
}

.text-body {
    color: var(--color-danger)!important;
}

/* Responcive */
@media (max-width: 500px){
    .SEPETSOL {
        padding: 0px 10px 15px 10px;
        background-color: white;
        color: black;
        width: calc(100% - 10px);
        margin: 5px;
        float: left;
        border-radius: 5px;
    }
}

@media (max-width: 500px){
    .sepettitleicon div span {
        font-size: 11px;

    }
}

@media (max-width: 500px){
    .text-body {
        float: right;
        font-size: 25px;
    }
}
@media (max-width: 500px){
    .product-image-delivery {
        margin-right: 15px;
        max-width: 100%;
        width: 64px;
        border-radius: 5px;
    }
    
}


@media only screen and (max-width: 500px){
    .header-bottom {
        padding: 10px;
    }
}

/* @media only screen and (max-width: 500px){
    .header-style-1.header-height-2 {
        display: contents;
    }
} */

@media only screen and (max-width: 500px){
    .d-inline-block {
        font-size: 15px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 500px){
    .adreseklebtn2 {
        padding: 1px;
        color: #1D413F;
        width: 100%;
        cursor: pointer;
        text-align: left;
        position: relative;
        font-size: 12px;
        font-weight: normal;
    }
}

@media (max-width: 480px) {
    .green.btn.sonrakibuton {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        border: 2px solid white;
        border-radius: 0;
        height: 70PX;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: .8px;
    }
}

.table-wrapper-responsive {
    margin-top: 50px;
}

@media (max-width: 480px) {
    .table-wrapper-responsive {
        margin-top: 5px;
    }
}